.formControl {
    width : 60%;
    margin-bottom: 30px !important;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
}
@media only screen and (max-width: 770px) {
.formControl {
    width : 90%;
    margin-bottom: 30px !important;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    }
  }


